<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts">
      <td>{{contact.id}}</td>
      <td>{{contact.name}}</td>
      <td>{{contact.surname}}</td>
      <td>
        <button (click)="showDetails(contact)">Show Details</button>
        <div *ngIf="contact.showDetails">
          <p>E-mail: {{contact.email}}</p>
          <p>Phone Number: {{contact.phoneNumber}}</p>
          <p>Category: {{contact.categoryId}}</p>
        </div>
      </td>
    </tr>
  </tbody>
</table>
