<button class="nav-link" routerLink="/register">Zarejestruj się </button>
<button class="nav-link" routerLink="/login">Zaloguj się </button>
<table class="table">
  <thead>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts">
      <td>{{contact.name}}</td>
      <td>{{contact.surname}}</td>
      <td>
        <button (click)="showDetails(contact)">Pokaż szczegóły</button>
        <div *ngIf="contact.showDetails">
          <p>E-mail: {{contact.email}}</p>
          <p>Numer telefonu: {{contact.phoneNumber}}</p>
          <p>Kategoria: {{contact.categoryId}}</p>
        </div>
      </td>
    </tr>
  </tbody>
</table>
