<h1>Update</h1>
<form>
  <div class="form-group">
    <label>Id:</label>
    <input type="text" class="form-control" [(ngModel)]="contactId" name="userId">
  </div>
  <div class="form-group">
    <label>Name:</label>
    <input type="text" class="form-control" [(ngModel)]="updateContact.name" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label>Surname:</label>
    <input type="text" class="form-control" [(ngModel)]="updateContact.surname" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label>Email:</label>
    <input type="text" class="form-control" [(ngModel)]="updateContact.email" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label>Numer Telefonu:</label>
    <input type="text" class="form-control" [(ngModel)]="updateContact.phoneNumber" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label>Category:</label>
    <input type="text" class="form-control" [(ngModel)]="updateContact.categoryId" [ngModelOptions]="{standalone: true}">
  </div>
  <button type="submit" class="btn btn-primary" (click)="UpdateContact()">Update</button>
  <h2 *ngIf="message">Data have updated</h2>
</form>
